doctype html
html(lang="en-us")
  head
    title List of Surveys
  body
    h1 Survey Titles
    ul
      each survey in surveys
        a(class='button' formaction="" href='https://tenor.com/pDP9JllakUL.gif')=survey